NODE_ENV=development
PORT=3000

DATABASE_HOST=0.0.0.0
DATABASE_PORT=5432
DATABASE_USERNAME=postgresql
DATABASE_PASSWORD=postgresql
DATABASE_NAME=postgresql

REDIS_HOST=0.0.0.0
REDIS_PORT=6379

JWT_SECRET=super_secret
JWT_EXPIRES_IN=1d

BASIC_AUTH_USER=admin
BASIC_AUTH_PASSWORD=admin

SENTRY_DNS=

