NODE_ENV=development
PORT=3000

DATABASE_HOST=0.0.0.0
DATABASE_PORT=5432
DATABASE_USERNAME=postgresql
DATABASE_PASSWORD=postgresql
DATABASE_NAME=postgresql

REDIS_HOST=0.0.0.0
REDIS_PORT=6379

JWT_SECRET=super_secret
JWT_EXPIRES_IN=1d

BASIC_AUTH_USER=admin
BASIC_AUTH_PASSWORD=admin

AWS_S3_REGION=ap-southeast-1
AWS_S3_ACCESS_KEY_ID=secret_key
AWS_S3_SECRET_ACCESS_KEY=secret_access_key
AWS_S3_BUCKET_NAME=nestjs-template
AWS_S3_CUSTOM_DOMAIN=media.example.com

SENTRY_DNS=
